@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #fafafa 0%, #9ba8c0 100%);
}

.wrapper {
  margin: 120px auto;
  max-width: 400px;
  width: 100%;
  background: rgb(128, 141, 155);
  border-radius: 10px;
  padding: 25px;
}
