@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #fafafa 0%, #9ba8c0 100%);
}

.wrapper {
  margin: 120px auto;
  max-width: 400px;
  width: 100%;
  background: rgb(128, 141, 155);
  border-radius: 10px;
  padding: 25px;
}

.wrapper header {
  font-size: 30px;
  font-weight: 600;
}

.wrapper .addNewTask {
  display: flex;
  height: 45px;
  width: 100%;
  margin: 20px 0;
}

.addNewTask input {
  width: 85%;
  height: 100%;
  border: 1px solid #ccc;
  font-size: 17px;
  border-radius: 3px;
  padding-left: 15px;
}

.addNewTask button {
  width: 60px;
  height: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 22px;
  color: #fafafa;
  background: darkcyan;
  cursor: pointer;
  margin-left: 5px;
}

.wrapper .taskList {
  max-height: 250px;
  overflow-y: auto;
}

.taskList li {
  list-style: none;
  height: 45%;
  line-height: 45px;
  position: relative;
  background: #fafafa;
  border-radius: 3px;
  margin-bottom: 8px;
  padding: 0 15px;
  overflow: hidden;
}

.taskList li span {
  position: absolute;
  right: -45px;
  color: #fff;
  width: 45px;
  text-align: center;
  background: coral;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.taskList li:hover span {
  right: 0px;
}

.wrapper .footer {
  display: flex;
  width: 100%;
  margin-top: 100%;
  align-items: center;
  justify-content: space-between;
}

.footer button {
  border: none;
  outline: none;
  background: coral;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px 10px;
}
