* {
  margin: 0px;
  padding: 0px;
}

.main-container {
  width: 1140px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
  overflow: auto;
}

.main-container--background {
  background-color: burlywood;
  display: flex;
}

/* topbar */
.main-container--column-1 {
  width: 50%;
}

.main-container--column-2 {
  text-align: end;
  width: 50%;
}

/* navbar */
.main-container--logo {
  background-color: #253436;
  color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container--navbar {
  list-style-type: none;
  display: inline-flex;
  padding: 15px;
}

.navbar_list-item {
  padding: 15px;
}

.navbar_list-item:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #386953;
  /* z-index: 1; */
}

.navbar_sublist {
  list-style-type: none;
  text-decoration: none;
  display: none;
  color: #fafafa;
}

.navbar_list-active {
  display: block;
}

.main-container-background_oranje {
  background-size: cover;
  background-color: coral;
  width: 1140px;
  height: 580px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-container--background-footer {
  background-color: darkgray;
}

.main-container--food_options {
  display: flex;
  justify-content: space-between;
}

.item-control-alignment {
  text-align: center;
}

.container-column-4 {
  border: 1px solid black;
  width: 30%;
}

.container-column-6 {
  border: 1px solid black;
  width: 50%;
}

/* Restaurant Info Section */
.capture-image-info {
  width: 570px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-color: coral;
  background-repeat: no-repeat;
}

.image-info--one {
  background-image: url(./img/pic-4.jpg);
}

.image-info--two {
  background-image: url(./img/pic-2.jpg);
}

.image-info--three {
  background-image: url(./img/pic-6.jpg);
}

/* Recipe section */
.capture-image_food {
  height: 375px;
  background-size: cover;
  background-color: coral;
  background-repeat: no-repeat;
}

.capture-image--recipe_one {
  background-image: url(./img/pic-3.jpg);
}

.capture-image--recipe_two {
  background-image: url(./img/pic-3.jpg);
}

.capture-image--recipe_three {
  background-image: url(./img/pic-3.jpg);
}
