h3 {
  color: rgb(110, 46, 23);
  padding-left: 25px;
}

nav {
  background-color: darkgrey;
}

#container {
  padding-top: 25px;
  padding-left: 25px;
}

#task_wrapper {
  margin-left: 10px;
}

#task_wrapper {
  list-style: none;
}
#task_wrapper li {
  padding-bottom: 5px;
}
.remove_item {
  color: red;
}

.clickeable {
  cursor: pointer;
}

.update_icon {
  color: green;
  padding: 10px 10px 10px 0;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* Add a "checked" mark when clicked on
ul li.crossed-out::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
 */
