body {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Checkerboard_Pattern_8x6.svg/1600px-Checkerboard_Pattern_8x6.svg.png);
}

h1 {
  background: white;
}

.fader-1 {
  width: 50%;
  height: 300px;
  float: left;
}
.img {
  width: 50%;
  height: 300px;
  background-size: cover;
  position: absolute;
}
.img-1,
.img-3 {
  background-image: url(https://www.sgs.nl/-/media/global/images/structural-website-images/hero-images/hero-agri-forestry.jpg);
}

.img-2,
.img-4 {
  background-image: url(https://www.entreemagazine.nl/sites/default/files/afbeeldingen/nieuws/91c2bea613d887476a0bfc820504f25b.jpg);
}

.fader {
  height: 300px;
  position: relative;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: rgb(61, 57, 57);
}

section.todo-outer {
  width: 100%;
  float: left;
  padding: 30px 0;
}

section.todo-outer h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.todo-inner {
  width: 100%;
  float: left;
  padding: 40px;
  box-shadow: 0px 0px 10px #c1c1c1;
}

.task-completed {
  text-decoration: line-through;
  color: rgb(80, 133, 80);
}

.not-completed {
  text-decoration: none;
}

.list-group-item-success {
  text-decoration: line-through;
} */
