* {
  margin: 0px;
  padding: 0px;
  /* font-family: Helvetica, sans-serif; */
  background-color: transparent;
}

.main-container {
  width: 1140px;
  margin-right: auto;
  margin-left: auto;
  /* border: 1px solid black; */
  overflow: auto;
  /* opacity: 0.99; */
}

.main-container--background {
  background-color: #e0d179;
  display: flex;
}

/* topbar */
.main-container--column-1 {
  width: 50%;
  padding-top: 15px;
}

.topbar_working-hours {
  font-family: "Ubuntu";
  font-size: 12px;
  font-weight: 900;
  /* padding: 0 10px 0; */
}

.topbar_icon-working-hours {
  font-size: 15px;
  padding-left: 15px;
}

.main-container--column-2 {
  text-align: end;
  width: 50%;
  padding: 5px;
}
.topbar_delivery-info {
  padding: 15px;
}

.topbar_social-media {
  padding: 15px;
  font-size: 30px;
}

.topbar_delivery-button {
  padding: 15px;
  font-size: 15px;
  border-radius: 10px;
  font-family: "Ubuntu";
  font-weight: 600;
  background-color: #e0d179;
  letter-spacing: 0.5px;
  border: solid;
}

.topbar_delivery-button:hover {
  padding: 15px;
  font-size: 15px;
  border-radius: 10px;
  font-family: "Ubuntu";
  font-weight: 600;
  background-color: #253436;
  color: #e0d179;
  letter-spacing: 0.5px;
  border: solid;
}

/* navbar */
.main-container--logo {
  background-color: #253436;
  color: #fafafa;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* align-items: center; */
}

.navbar_hamburger_menu {
  display: flex;
  justify-content: space-between;
}

.main-container--navbar_hamburger {
  display: none;
}

.navbar_title-name {
  padding-left: 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Dosis";
  letter-spacing: 5px;
  font-size: 50px;
  padding-top: 10px;
}
.main-container--navbar {
  list-style-type: none;
  display: inline-flex;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.openMenu {
  display: none;
}

.closeMenu {
  display: none;
}

.navbar_list-item {
  padding: 10px;
  border-radius: 5px;
  font-family: "Dosis";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 3px;
}

.navbar_control-text-design {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar_list-item:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #cac18e;
  color: #253436;
  font-weight: 900;
  transition: all 0.8;
  /* z-index: 1; */
}

.navbar_sublist {
  list-style-type: none;
  text-decoration: none;
  display: none;
  color: #253436;
  z-index: 10;
}

.navbar_list-active {
  display: block;
  padding: 0;
  margin-left: -10px;
  z-index: 289;
}

/* .section-title {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  } */

.main-container-background_oranje {
  object-fit: fill;
  background-color: #fafafa;
  width: 1140px;
  height: 580px;
  transition: all 0.5;
  background-image: url(./img/filosofia.jpg);
}

.main-container--call-to-action {
  display: flex;
  justify-content: center;
  background-color: #253436;
  padding: 30px;
}

.call-to-action_reserve {
  text-decoration: none;
  padding: 30px;
  color: #253436;
  background-color: #cac18e;
  border: none;
  border-radius: 5px;
  font-family: "Ubuntu";
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.call-to-action_reserve:hover {
  background-color: #e0d179;
}

/* main content styles */
.main-container--background-footer {
  background-color: #253436;
  color: #fafafa;
}

/* styles for the info section tu */
/* Restaurant Info Section */

.main-container--food_options {
  display: flex;
  justify-content: space-between;
}

/* history section styles for the mobile */

.main-container--food_options-desktop {
  display: flex;
}

.main-container--food_options-mobile {
  display: none;
}

.continer-column-4_food-pref-icons {
  font-size: 30px;
}

.item-control-text-design {
  text-transform: uppercase;
  font-family: "Ubuntu";
  font-weight: 600;
  letter-spacing: -1.5px;
}

.m-c_layout-symmetry {
  padding-bottom: 15px;
  font-weight: 600px;
}

.main-container--end-page {
  width: 1140px;
  margin-right: auto;
  margin-left: auto;
  /* border: 1px solid black; */
  overflow: auto;
  display: flex;
  justify-content: space-between;
  background-color: #bebbbb;
  opacity: 0.99;
}

.item-control-alignment {
  text-align: center;
  padding: 30px;
  letter-spacing: -0.75px;
  font-family: "Ubuntu", sans-serif;
}

.container-column-4 {
  /* border: 1px solid black; */
  width: 30%;
  padding-bottom: 30px;
}

.continer-column-4_layout-symmetry {
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Ubuntu";
  letter-spacing: 2.5px;
}
.container-column-6 {
  /* border: 1px solid black; */
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.continer-column-6_layout-symmetry {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 900;
  font-family: "Ubuntu";
  letter-spacing: 2.5px;
}

/* Recipes section */

.capture-image-info {
  width: 568px;
  height: 228px;
  background-size: cover;
  background-position: center;
  background-color: rgb(133, 121, 117);
  background-repeat: no-repeat;
}

.image-info--one {
  background-image: url(./img/filosofia.jpg);
  opacity: 0.6;
}

.image-info--two {
  background-image: url(./img/table.jpeg);
}

.image-info--three {
  background-image: url(./img/food-3.jpg);
}

.capture-image_food {
  height: 375px;
  background-size: cover;
  background-color: coral;
  background-repeat: no-repeat;
}

.capture-image--recipe_one {
  background-image: url(./img/food-5.jpg);
}

.capture-image--recipe_two {
  background-image: url(./img/omlette.jpg);
}

.capture-image--recipe_three {
  background-image: url(./img/meatballs.jpg);
}

/* additional design features */
.capture-image_city-sketch {
  height: 275px;
  background-size: cover;
  background-color: coral;
  background-repeat: no-repeat;
  filter: brightness(1.25);
}

.capture-image_inspire {
  height: 275px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  filter: brightness(1.75) grayscale(1);
}

.capture-image--amsterdam {
  background-image: url(./img/zuiderkerk.jpg);
}

.capture-image--star-ratings {
  background-image: url(./img/aspire_michelin.png);
}

/* accordion style */
.container-column-4_accordion {
  width: 100%;
}

.container-column-4_accordion .container-column-4_accordion-button {
  position: relative;
  margin: 10px 20px;
  text-align: center;
}

.container-column-4_accordion
  .container-column-4_accordion-button
  .accordion-button--label {
  position: relative;
  padding: 10px;
  background-color: #253436;
  color: #fafafa;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 0.75px;
}

.container-column-4_accordion
  .container-column-4_accordion-button
  .accordion-button--label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.container-column-4_accordion
  .container-column-4_accordion-button.active
  .accordion-button--label::before {
  content: "-";
}

.accordion-button--content {
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 0.5px;
}

.container-column-4_accordion
  .container-column-4_accordion-button
  .accordion-button--content {
  position: relative;
  background-color: #fafafa;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: hidden;
}

.container-column-4_accordion
  .container-column-4_accordion-button.active
  .accordion-button--content {
  height: 75px;
  padding: 5px;
}

/* tooltip 1 */

.capture-image_city-sketch::after,
.capture-image_city-sketch::before {
  /* content: attr(data-tooltip); */
  --scale: 0;
  --tooltip-color: #253436;
  --arrow-size: 20px;
  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transition: 300ms transform;
  transform-origin: bottom center;
}

.capture-image_city-sketch::before {
  --translate-y: calc(-100% - var(--arrow-size));
  content: attr(data-tooltip);
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1px;
  color: #fafafa;
  background-color: var(--tooltip-color);
  padding: 0.5rem;
  width: max-content;
  max-width: 100%;
  border-radius: 0.3rem;
}

.capture-image_city-sketch:hover::before,
.capture-image_city-sketch:hover::after {
  --scale: 1;
}

.capture-image_city-sketch::after {
  --translate-y: calc(-1 * var(--arrow-size));
  width: 10px;
  height: 10px;
  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}

/* tooltip 2*/

.capture-image--star-ratings::after,
.capture-image--star-ratings::before {
  visibility: visible;
  --scale: 0;
  --tooltip-two-color: #253436;
  --arrow-size: 20px;
  position: absolute;
  content: attr(data-inspire);
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transition: 300ms transform;
  transform-origin: bottom center;
}

.capture-image--star-ratings::before {
  --translate-y: calc(-100% - var(--arrow-size));
  /* content: attr(data-inspire); */
  color: #fafafa;
  background-color: var(--tooltip-two-color);
  padding: 0.5rem;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1px;
  width: max-content;
  max-width: 100%;
  border-radius: 0.3rem;
}

.capture-image--star-ratings:hover::before,
.capture-image--star-ratings:hover::after {
  --scale: 1;
}

.capture-image--star-ratings::after {
  --translate-y: calc(-1 * var(--arrow-size));
  width: 10px;
  height: 10px;
  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-two-color);
  transform-origin: top center;
}

/* Responsive design on smaller screens */
@media screen and (max-width: 811px) {
  .main-container {
    display: flex;
    flex-direction: column;
    max-width: 100% !important;
  }
  .main-container--column-1 {
    display: none;
  }
  .main-container--column-2 {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: center;
  }

  .topbar_delivery-info {
    padding: 0;
    flex-basis: 27;
  }

  .navbar_list-item {
    font-size: 35px;
  }
  .topbar_social-media {
    padding-right: 0;
  }

  .topbar_delivery-button {
    margin-left: 15px;
  }

  .navbar_title-name {
    /* padding-left: 10px; */
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 40px;
    display: flex;
  }
  .main-container-background_oranje {
    object-fit: cover;
    object-position: 50% 50%;
    background-color: #fafafa;
    max-width: 100%;
    transition: all 0.5;
  }
  /* .main-container-image_smx {
            display: block;
            background-color: #fafafa;
            background-size: cover;
            width: 100%;
            background-repeat: no-repeat;
            background-position: cover;
            transition: all 0.5;
            background-image: url(./img/filosofia.jpg);
        } */
  .container-column-4 {
    width: 100%;
  }
  .container-column-6 {
    /* border: 1px solid black; */
    width: 100%;
  }
  .capture-image-info {
    width: 100%;
  }

  .navbar_hamburger_menu {
    display: flex;
    justify-content: space-between;
  }

  .openMenu {
    display: flex;
    padding-top: 10px;
    padding-left: 5px;
    font-size: 55px;
    margin: 20px;
    /* margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: 5px; */
    /* display: none; */
    /* cursor: pointer; */
  }

  .closeMenu {
    position: absolute;
    display: block;
    top: 0px;
    right: 20px;
    /* cursor: pointer; */
    /* margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: 5px; */
    /* display: none; */
  }

  .main-container--navbar_hamburger {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 55px;
    z-index: 10;
    padding-top: 110px;
    flex-direction: column;
    align-items: center;
    background: #253436;
    color: #e0d179;
    transition: top 0.5s ease;
  }
  .navbar_sublist {
    color: #253436;
    border: 1px;
    border-color: #e0d179;
  }
  .navbar_list-item:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #cac18e;
    color: #253436;
    font-weight: 900;
    transition: all 0.8;
    /* z-index: 1; */
  }

  /* switch style for history info */
  .main-container--food_options-mobile {
    display: flex;
  }

  .main-container--food_options-desktop {
    display: none;
  }
}
