* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
}

.main-container {
  width: 1140px;
  margin-right: auto;
  margin-left: auto;
  /* border: 1px solid black; */
  overflow: auto;
}

.main-container--background {
  background-color: #e0d179;
  display: flex;
}

/* topbar */
.main-container--column-1 {
  width: 50%;
  padding-top: 15px;
}

.topbar_working-hours {
  font-family: "Ubuntu";
  font-size: 12px;
  font-weight: 900;
  /* padding: 0 10px 0; */
}

.topbar_icon-working-hours {
  font-size: 15px;
  padding-left: 15px;
}

.main-container--column-2 {
  text-align: end;
  width: 50%;
  padding: 5px;
}
.topbar_delivery-info {
  padding: 15px;
}

.topbar_social-media {
  padding: 15px;
  font-size: 30px;
}

.topbar_delivery-button {
  padding: 15px;
  font-size: 15px;
  border-radius: 10px;
  font-family: "Ubuntu";
  font-weight: 600;
  background-color: #e0d179;
  letter-spacing: 0.5px;
}

.topbar_delivery-button:hover {
  color: #e0d179;
  background: #253436;
}

/* navbar */
.main-container--logo {
  background-color: #253436;
  color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_title-name {
  padding-left: 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Dosis";
  letter-spacing: 5px;
}
.main-container--navbar {
  list-style-type: none;
  display: inline-flex;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.navbar_list-item {
  padding: 10px;
  border-radius: 5px;
  font-family: "Dosis";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 3px;
}

.navbar_control-text-design {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar_list-item:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #cac18e;
  color: #253436;
  font-weight: 900;
  transition: all 0.8;
  /* z-index: 1; */
}

.navbar_sublist {
  list-style-type: none;
  text-decoration: none;
  display: none;
  color: #253436;
}

.navbar_list-active {
  display: block;
}

.section-title {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.main-container-background_oranje {
  background-size: cover;
  background-color: #fafafa;
  width: 1140px;
  height: 580px;
  background-repeat: no-repeat;
  background-position: cover;
  transition: all 0.5;
}

.main-container--call-to-action {
  display: flex;
  justify-content: center;
  background-color: #253436;
  padding: 30px;
}

.call-to-action_reserve {
  text-decoration: none;
  padding: 30px;
  color: #253436;
  background-color: #cac18e;
  border-radius: 5px;
  font-family: "Ubuntu";
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.call-to-action_reserve:hover {
  background-color: #e0d179;
}

/* main content styles */
.main-container--background-footer {
  background-color: #253436;
  color: #fafafa;
}

/* styles for the info section tu */
/* Restaurant Info Section */

.main-container--food_options {
  display: flex;
  justify-content: space-between;
}

.continer-column-4_food-pref-icons {
  font-size: 30px;
}

.item-control-text-design {
  text-transform: uppercase;
  font-family: "Ubuntu";
  font-weight: 600;
  letter-spacing: -1.5px;
}

.m-c_layout-symmetry {
  padding-bottom: 15px;
  font-weight: 600px;
}

.main-container--end-page {
  display: flex;
  justify-content: space-between;
  background-color: #bebbbb;
}

.item-control-alignment {
  text-align: center;
  padding: 30px;
}

.container-column-4 {
  /* border: 1px solid black; */
  width: 30%;
  padding-bottom: 30px;
}

.continer-column-4_layout-symmetry {
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Ubuntu";
  letter-spacing: 2.5px;
}
.container-column-6 {
  border: 1px solid black;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.continer-column-6_layout-symmetry {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 900;
  font-family: "Ubuntu";
  letter-spacing: 2.5px;
}

/* Recipes section */

.capture-image-info {
  width: 568px;
  height: 228px;
  background-size: cover;
  background-position: center;
  background-color: rgb(133, 121, 117);
  background-repeat: no-repeat;
}

.image-info--one {
  background-image: url(./img/filosofia.jpg);
  opacity: 0.6;
}

.image-info--two {
  background-image: url(./img/table.jpeg);
}

.image-info--three {
  background-image: url(./img/food-3.jpg);
}

.capture-image_food {
  height: 375px;
  background-size: cover;
  background-color: coral;
  background-repeat: no-repeat;
}

.capture-image--recipe_one {
  background-image: url(./img/food-5.jpg);
}

.capture-image--recipe_two {
  background-image: url(./img/omlette.jpg);
}

.capture-image--recipe_three {
  background-image: url(./img/meatballs.jpg);
}

/* additional design features */
.capture-image_city-sketch {
  height: 275px;
  background-size: cover;
  background-color: coral;
  background-repeat: no-repeat;
  filter: brightness(1.25);
}

.capture-image_inspire {
  height: 275px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  filter: brightness(1.75);
}

.capture-image--amsterdam {
  background-image: url(./img/zuiderkerk.jpg);
}

.capture-image--star-ratings {
  background-image: url(./img/aspire_michelin.png);
}

/* accordion style */
.container-column-4_accordion-button {
  width: 100%;
}
.accordion-button--text {
  background-color: whitesmoke;
  max-height: 0;
  overflow: hidden;
}
