body {
  background-color: #e6e3da !important;
}
.color-text-selection-for-topbar {
  background-color: #c5bb7d;
  font-size: 14px;
}

.positioned-at-the-right-end {
  background-color: brown;
}

.color-selected-for-navbar {
  background-color: #284032;
}

.new-color-selected-title {
  color: #e6e3da;
}

.sub-navigation-bar-list {
  display: flex;
  color: #e6e3da;
  list-style-type: none;
}

.list-item-new-color-selected {
  color: #e6e3da;
  padding: 10px;
  margin: 0 5px;
  list-style: none;
  text-decoration: none;
}

.list-item-new-color-selected:hover {
  text-decoration: none;
  color: #a39987;
  border-bottom: 3px #a39987 solid;
}

.customized-slider-styles {
  margin: 0;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 100%;
  height: 65vh;
}

.reservation-form-design-attributes {
  color: #967a43;
  background-color: lightgray;
  height: 25vh;
}

.position-the-call-to-action-captionbtn {
  position: relative;
  right: 15%;
  bottom: 25rem;
  left: 15px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fafafa;
  text-align: center;
}

.food-options-mini-interface {
  padding: 25px;
}

.restaurant-philosophy {
  padding: 10px;
}

.restaurant-history {
  padding: 10px;
}

.display-recipes-rollercoaster {
  display: flex;
  justify-content: space-between;
}

.recipe-card-content-box {
  width: 30%;
}

.page-end-styles-colors {
  background: #284032;
  color: #fafafa;
}

/* .shortlisted-recipes-from-the-restaurant {
      background: beige;
      width: 100%;
      height: 25vh;
      position: relative;
    }
    
    
    
    .recipe-rollercoaster-column {
      width: 800px;
      height: 20vh;
      position: relative;
    }
    
    .photo-recipe-restaurant-upload {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
    
    .capture-recipe-image {
      height: 30vh;
      border-radius: 10px;
    }
    
    .desciption-pitch-recipe {
      background: #2d3a59;
      font-size: 18px;
      line-height: 24px;
      width: 520px;
      height: 270px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 10px;
      color: #d3d4d6;
      padding: 45px;
      box-sizing: border-box;
      z-index: 2;
    }
    
    .recipe-universal-name {
      margin: 35px 0 5px;
      color: #fafafa;
    }
    
    .universal-text-recipe-masterchef {
      font-size: 18px;
      line-height: 24px;
    } */
